<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517914368240-ppatidb9n709t18hd308fsl1s7mfd4dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517914368240-ppatidb9n709t18hd308fsl1s7mfd4dm</string>
	<key>API_KEY</key>
	<string>AIzaSyDkfmpCKfTwgpu8vTnQSJKE1gAWPd4hZv8</string>
	<key>GCM_SENDER_ID</key>
	<string>517914368240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sysmatrix.boxe</string>
	<key>PROJECT_ID</key>
	<string>boxs-6e849</string>
	<key>STORAGE_BUCKET</key>
	<string>boxs-6e849.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517914368240:ios:e69c2b04d5eea74de88a35</string>
</dict>
</plist>